<!DOCTYPE html>
<html>
<head>
  <style>
    {{styles}}
  </style>
</head>
<body class="bg-gray-100">
  <div class="max-w-md mx-auto p-6 bg-white shadow-md">
    <p>Hi Ove,</p>
    <p>
      Please be advised a submission has been made on
      <a href="https://spectrumwebco.com.au">https://spectrumwebco.com.au</a>.
    </p>
    <p>Please see below for the client's information:</p>
    <ul>
      <li><strong>Name:</strong> {{name}}</li>
      <li><strong>Email:</strong> {{email}}</li>
      <li><strong>Mobile Number:</strong> {{mobileNumber}}</li>
      <li><strong>Message:</strong> {{message}}</li>
    </ul>
    <p>
      Please check your inbox for a sent email, you should be able to continue the conversation with them directly, if applicable.
    </p>
    <p>Kind Regards,<br/>AutoBot</p>
  </div>
</body>
</html>
